<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisterServlet</servlet-name>
        <servlet-class>controller.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DealerRegisterServlet</servlet-name>
        <servlet-class>controller.DealerRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>controller.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DealerLoginServlet</servlet-name>
        <servlet-class>controller.DealerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddCarServlet</servlet-name>
        <servlet-class>controller.UserAddCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DealerAddCarServlet</servlet-name>
        <servlet-class>controller.DealerAddCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PendingSearch</servlet-name>
        <servlet-class>controller.PendingSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayCars</servlet-name>
        <servlet-class>controller.DisplayCars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buy</servlet-name>
        <servlet-class>controller.Buy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PendingOfferServlet</servlet-name>
        <servlet-class>controller.PendingOfferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet2</servlet-name>
        <servlet-class>controller.UpdateServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckStatusServlet</servlet-name>
        <servlet-class>controller.CheckStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterServlet</servlet-name>
        <url-pattern>/UserRegisterServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DealerRegisterServlet</servlet-name>
        <url-pattern>/DealerRegisterServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DealerLoginServlet</servlet-name>
        <url-pattern>/DealerLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddCarServlet</servlet-name>
        <url-pattern>/UserAddCarServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DealerAddCarServlet</servlet-name>
        <url-pattern>/DealerAddCarServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PendingSearch</servlet-name>
        <url-pattern>/PendingSearch.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayCars</servlet-name>
        <url-pattern>/DisplayCars.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buy</servlet-name>
        <url-pattern>/Buy.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PendingOfferServlet</servlet-name>
        <url-pattern>/PendingOfferServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet2</servlet-name>
        <url-pattern>/UpdateServlet2.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckStatusServlet</servlet-name>
        <url-pattern>/CheckStatusServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
